<div class="main">
  <div class="maindata">
    <div class="profile">
      <div class="userdata">
        <%= render 'profiles/data' %>
      </div>
      <div class="status">
        <%= render 'shared/status' %>
      </div>
    </div>
    <div class = "post">
      <div class = "editdata">Edit profile</div><br>
      <%= render 'form' %>
    </div>  
  </div>    
</div>  